<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit view</title>
</head>
<body>
<h1> Update an Existing User</h1>
<%= form_for @user, url: {action: "edit"}, html: {class: "nifty_form"} do |f| %>
	<%= label_tag(:username, "Username:") %>
  <%= f.text_field :username %>

  <%= label_tag(:email, "Email:")%>
  <%= f.email_field :email %>

  <%= f.label :password, "password" %>
  <%= f.password_field (:password) %>

  <%= f.submit "Update" %>
<% end %>
</body>
</html>