
h1> Edit a Existing User</h1>
<%= form_for @user, url: {action: "edit"}, html: {class: "nifty_form"} do |f| %>
	<%= label_tag(:username, "Username:") %>
  <%= f.text_field :username, placeholder: "Your user name here" %>

  <%= label_tag(:email, "Email:")%>
  <%= f.email_field :email, placeholder: "example@example.com"%>

  <%= f.label :password, "password" %>
  <%= f.password_field (:password) %>

  <%= f.submit "Create" %>
<% end %>